[Unit]
Description=Grafana Brevo Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pinnacle
ExecStart=/usr/bin/node /usr/local/share/grafana-brevo/index.js

[Install]
WantedBy=multi-user.target