[Unit]
Description=Grafana Brevo Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/node /opt/grafana-brevo/index.js

[Install]
WantedBy=multi-user.target