[Unit]
Description=Grafana SMS Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pinnacle
ExecStart=/usr/local/bin/node /usr/local/share/grafana-sms/index.js

[Install]
WantedBy=multi-user.target
